In [2]:
import numpy as np
import pandas as pd

from google.colab import files
upload = files.upload()

Saving AAPL.csv to AAPL.csv

In [5]:
df = pd.read_csv('./AAPL.csv')

In [6]:
df.head()

         Date        Open        High  ...       Close   Adj Close     Volume
0  2021-01-07  128.360001  131.630005  ...  130.919998  130.117859  109578200
1  2021-01-08  132.429993  132.630005  ...  132.050003  131.240921  105158200
2  2021-01-11  129.190002  130.169998  ...  128.979996  128.189728  100384500
3  2021-01-12  128.500000  129.690002  ...  128.800003  128.010834   91951100
4  2021-01-13  128.759995  131.449997  ...  130.889999  130.088028   88636800

[5 rows x 7 columns]

In [7]:
df = pd.read_csv('./AAPL.csv', index_col = 'Date', parse_dates = ['Date'])

In [8]:
df.head()

                  Open        High  ...   Adj Close     Volume
Date                                ...
2021-01-07  128.360001  131.630005  ...  130.117859  109578200
2021-01-08  132.429993  132.630005  ...  131.240921  105158200
2021-01-11  129.190002  130.169998  ...  128.189728  100384500
2021-01-12  128.500000  129.690002  ...  128.010834   91951100
2021-01-13  128.759995  131.449997  ...  130.088028   88636800

[5 rows x 6 columns]

In [9]:
type(df.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [10]:
type(df.index[0])

pandas._libs.tslibs.timestamps.Timestamp

In [12]:
df.loc['2021-01-07':'2021-01-11', ['Open', 'Close']]

                  Open       Close
Date
2021-01-07  128.360001  130.919998
2021-01-08  132.429993  132.050003
2021-01-11  129.190002  128.979996

ISO 8601 규칙에 어긋나지 않으면 자동으로 날짜를 인식한다!

In [20]:
df.loc['2021-01']

                  Open        High  ...   Adj Close     Volume
Date                                ...
2021-01-07  128.360001  131.630005  ...  130.117859  109578200
2021-01-08  132.429993  132.630005  ...  131.240921  105158200
2021-01-11  129.190002  130.169998  ...  128.189728  100384500
2021-01-12  128.500000  129.690002  ...  128.010834   91951100
2021-01-13  128.759995  131.449997  ...  130.088028   88636800
2021-01-14  130.800003  131.000000  ...  128.120178   90221800
2021-01-15  128.779999  130.220001  ...  126.361008  111598500
2021-01-19  127.779999  128.710007  ...  127.046783   90757300
2021-01-20  128.660004  132.490005  ...  131.221054  104319500
2021-01-21  133.800003  139.669998  ...  136.031403  120150900
2021-01-22  136.279999  139.850006  ...  138.217911  114459400
2021-01-25  143.070007  145.089996  ...  142.044327  157611700
2021-01-26  143.600006  144.300003  ...  142.282867   98390600
2021-01-27  143.429993  144.300003  ...  141.189606  140843800
2021-01-28  139.520004  141.990005  ...  136.250031  142621100
2021-01-29  135.830002  136.740005  ...  131.151474  177523800

[16 rows x 6 columns]

In [21]:
df.loc['2021-Jan-12']

Open         1.285000e+02
High         1.296900e+02
Low          1.268600e+02
Close        1.288000e+02
Adj Close    1.280108e+02
Volume       9.195110e+07
Name: 2021-01-12 00:00:00, dtype: float64

분석을 위한 함수

In [22]:
df['Close_lag'] = df['Close'].shift(periods=1))
df.head()

                  Open        High  ...     Volume   Close_lag
Date                                ...
2021-01-07  128.360001  131.630005  ...  109578200         NaN
2021-01-08  132.429993  132.630005  ...  105158200  130.919998
2021-01-11  129.190002  130.169998  ...  100384500  132.050003
2021-01-12  128.500000  129.690002  ...   91951100  128.979996
2021-01-13  128.759995  131.449997  ...   88636800  128.800003

[5 rows x 7 columns]

In [23]:
# 백분율 변화량 
df['pct_change'] = df['Close'].pct_change(periods=1)
df.head()

                  Open        High  ...   Close_lag  pct_change
Date                                ...
2021-01-07  128.360001  131.630005  ...         NaN         NaN
2021-01-08  132.429993  132.630005  ...  130.919998    0.008631
2021-01-11  129.190002  130.169998  ...  132.050003   -0.023249
2021-01-12  128.500000  129.690002  ...  128.979996   -0.001396
2021-01-13  128.759995  131.449997  ...  128.800003    0.016227

[5 rows x 8 columns]

In [24]:
df['Close_diff'] = df['Close'].diff(periods=1)
df.head()

                  Open        High  ...  pct_change  Close_diff
Date                                ...
2021-01-07  128.360001  131.630005  ...         NaN         NaN
2021-01-08  132.429993  132.630005  ...    0.008631    1.130005
2021-01-11  129.190002  130.169998  ...   -0.023249   -3.070007
2021-01-12  128.500000  129.690002  ...   -0.001396   -0.179993
2021-01-13  128.759995  131.449997  ...    0.016227    2.089996

[5 rows x 9 columns]

이동 평균선

In [25]:
df['MA_5'] = df['Close'].rolling(window=5).mean()
df.head()

                  Open        High         Low  ...  pct_change  Close_diff     MA_5
Date                                            ...
2021-01-07  128.360001  131.630005  127.860001  ...         NaN         NaN      NaN
2021-01-08  132.429993  132.630005  130.229996  ...    0.008631    1.130005      NaN
2021-01-11  129.190002  130.169998  128.500000  ...   -0.023249   -3.070007      NaN
2021-01-12  128.500000  129.690002  126.860001  ...   -0.001396   -0.179993      NaN
2021-01-13  128.759995  131.449997  128.490005  ...    0.016227    2.089996  130.328

[5 rows x 10 columns]

In [27]:
dir(pd.core.window.Rolling)

['__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_accessors',
 '_agg_doc',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_apply',
 '_attributes',
 '_builtin_table',
 '_center_window',
 '_constructor',
 '_create_blocks',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_generate_cython_apply_func',
 '_get_cython_func',
 '_get_cython_func_type',
 '_get_roll_func',
 '_get_win_type',
 '_get_window',
 '_get_window_indexer',
 '_gotitem',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_obj_with_exclusions',
 '_on',
 '_prep_values',
 '_reset_cache',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_shallow_copy',
 '_try_aggregate_string_function',
 '_validate_freq',
 '_validate_get_window_bounds_signature',
 '_validate_monotonic',
 '_window_type',
 '_wrap_result',
 '_wrap_results',
 'agg',
 'aggregate',
 'apply',
 'corr',
 'count',
 'cov',
 'exclusions',
 'is_datetimelike',
 'is_freq_type',
 'kurt',
 'max',
 'mean',
 'median',
 'min',
 'ndim',
 'quantile',
 'skew',
 'std',
 'sum',
 'validate',
 'var']

시간 간격 재조정

In [28]:
index= pd.date_range(start='2021-01-01', end = '2021-09-30', freq='B')
series = pd.Series(range(len(index)), index = index)
series

2021-01-01      0
2021-01-04      1
2021-01-05      2
2021-01-06      3
2021-01-07      4
             ...
2021-09-24    190
2021-09-27    191
2021-09-28    192
2021-09-29    193
2021-09-30    194
Freq: B, Length: 195, dtype: int64

In [34]:
series.resample(rule='M').sum()

2021-01-31     210
2021-02-28     610
2021-03-31    1196
2021-04-30    1639
2021-05-31    2016
2021-06-30    2585
2021-07-31    3069
2021-08-31    3553
2021-09-30    4037
Freq: M, dtype: int64

In [35]:
series.resample(rule='M').first()

2021-01-31      0
2021-02-28     21
2021-03-31     41
2021-04-30     64
2021-05-31     86
2021-06-30    107
2021-07-31    129
2021-08-31    151
2021-09-30    173
Freq: M, dtype: int64

In [37]:
series.resample(rule='B').first() # 영업일만

2021-01-01      0
2021-01-04      1
2021-01-05      2
2021-01-06      3
2021-01-07      4
             ...
2021-09-24    190
2021-09-27    191
2021-09-28    192
2021-09-29    193
2021-09-30    194
Freq: B, Length: 195, dtype: int64